<footer class="bg-dark text-white py-5">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-4">
        <h4 class="mb-4">Navigation</h4>
        <ul class="list-unstyled">
          <li class="text-white"><a href="/g">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-car fa-stack-1x fa-inverse"></i>
              </span>
              G
            </a></li>
          <li> <a href="/g2">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-car fa-stack-1x fa-inverse"></i>
              </span>
              G2
            </a></li>
          <li><a href="/login">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-sign-in-alt fa-stack-1x fa-inverse"></i>
              </span>
              Login
            </a></li>
        </ul>
      </div> -->
      <div class="col-md-4">
        <h4 class="mb-4">Connect With Us</h4>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-white"
              ><i class="fab fa-facebook-f me-2"></i>Facebook</a
            >
          </li>
          <li>
            <a href="#" class="text-white"
              ><i class="fab fa-twitter me-2"></i>Twitter</a
            >
          </li>
          <li>
            <a href="#" class="text-white"
              ><i class="fab fa-instagram me-2"></i>Instagram</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="mb-4">Contact Us</h4>
        <p class="text-muted">
          Address: 40 Euclid<br />
          waterloo, Ontario 12345<br />
          Phone: (123) 456-7890<br />
          Email: info@yourdrivingschool.com
        </p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <p class="text-center text-muted fst-italic">
          &copy; Daniyal Driving School 2023. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
